.not-found {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Big 404 number */
.not-found h1 {
    font-size: 8rem; /* was 6rem */
    font-weight: 800;
    margin: 0; /* remove default margin */
}

/* Subtitle */
.not-found h2 {
    font-size: 2.0rem; /* was 1.8rem */
    font-weight: 600;
}

/* Description text */
.not-found p {
    font-size: 1.2rem; /* was 1rem */
    margin-bottom: 25px;
}

.back-home {
    padding: 12px;
    font-weight: bold;
    font-size: large;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}